@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src:local('Open Sans'),
        local('OpenSans'),
        url('https://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
}
