@media (min-width: 768px){
    

/* FOOTER*/
    #img-1-footer{
        width: 50px;
        height: 50px;

        background: url(../img/spfooter.png) 0px 0px;

    }
    #img-2-footer{
        width: 50px;
        height: 50px;
        background: url(../img/spfooter.png) -50px 0px;
        margin-left: 50px;
        margin-right: 50px;

    }
    #img-3-footer{
        width: 50px;
        height: 50px;
        background: url(../img/spfooter.png) -100px 0px;
    }
    .izq-foot-wrap{
        
    }
/* END FOOTER*/
    
}

@media (max-width: 767px){

    
    
/* FOOTER*/


    .dere-foot-wrap{
        width:25% !important;
    }
    
    .foot-dscr-let{
        display: none;
    }
    .der-izq-sp {
        padding-bottom: 0px;
        display: inline;
    }
    .dere-izq-foot, .dere-der-foot {
        width: 100% !important;
    }
    .der-izq-tit {
        font-size: 12px;
    }
    .der-izq-tit {
        padding: 7px 0px !important;
    }
    .foot-img-wrapp img {
        height: 22px !important;
    }
    /* END FOOTER*/

}

@media (max-width: 360px){
    .cir-grand {
        left: -21px !important;
    }
    .izq-foot-inn {
        display: inline-block;
        padding: 37px 0 37px 24px !important;
    }
    .izq-foot-inn:hover {
        display: inline-block;
        padding: 37px 0 37px 24px !important;
    }
    .izq-foot-inn:hover .cir-grand {
        left: -21px !important;
    }

}



/* FOOTER*/


.foot-wrap-in{
    padding: 0;
    overflow: hidden;
    z-index: 15;
    position: relative;
    width: 100%;
    bottom:0;
    color: #fff;
    padding-right: 0;
    margin-top: 25px;
    background: rgb(252,252,252);
    background: linear-gradient(to right top, rgb(51,54,71) 50%, rgb(46,49,66) 50%);

}

.logo-foot{
    height: 35px;

}
.cir-grand{
    position: absolute;
    height: 300px;
    width: 220px;
    bottom: 0;
    left: 0;
    transform: translateY(60px);
    border-radius: 100%;
    background: rgb(86,3,173);
    z-index: -1;
    -webkit-box-shadow: 3px 3px 12px -2px rgba(0,0,0,0.66);
    -moz-box-shadow: 3px 3px 12px -2px rgba(0,0,0,0.66);
    box-shadow: 3px 3px 12px -2px rgba(0,0,0,0.66);
    transition: all ease 1s;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
    -ms-transition: all ease 1s;
}
.izq-foot-inn{
    display: inline-block;
    padding: 37px 0 37px 30px;
    background: rgb(86,3,173);
    z-index: 3;
    transition: all ease 1s;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
    -ms-transition: all ease 1s;
}
.izq-foot-inn:hover{
    padding-left: calc(50% - 183px);
}
.izq-foot-inn:hover .cir-grand{
    left: calc(50% - 215px);
}
.dere-foot-wrap{
    
    height: 125px;
    float: right;
    width:45%;
    vertical-align: middle;

}
.foot-img-wrapp img{
    height: 25px;
}

.dere-izq-foot{
    width: 60%;
    display: inline-block;
}
.dere-der-foot{
    width: 40%;
    display: inline-block;
}
.der-izq-tit{
    padding: 12px 0px;
    font-weight: bold;
}
.abajo-foot-wrapp{
    clear: both;    
    background-color: #fac307;
    color: rgb(252,252,252);
}
.der-izq-sp{
    padding-bottom: 10px;
}
.abajo-foot-inn{
    text-align: center;
    font-size: 12px;
    padding: 5px;
}
.logo-foot {
    height: 51px;
}
/* END FOOTER*/