
/*ANIMACIÓN GLOBO*/
/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*END ANIMACIÓN GLOBO*/

/*NAVBAR*/
.navbar-header button:hover,.navbar-header .button:hover,.navbar-header input[type="button"]:hover,.navbar-header input[type="reset"]:hover,.navbar-header input[type="submit"]:hover {
    color: #fff;
    background-color: #ffffff;
    text-decoration: none;
}
.h1-inoloop{
    font-size: 2.7vw;
    line-height: 3vw;
    display: inline;
}
.navbar-toggle {
    z-index: 50;
   background-color: #fff;
}
.navbar-toggle .icon-bar {
     background-color:  rgb(45, 49, 66);
    
}
.navbar-fixed-top .container{
    position: relative;
} 
.navbar-fixed-top a{
    color: #fff;
}
.elemli-nav{
    transition: background-color ease 0.6s;
    -webkit-transition: background-color ease 0.6s;
    -moz-transition: background-color ease 0.6s;
    -o-transition: background-color ease 0.6s;
    -ms-transition: background-color ease 0.6s;
    max-height: 50px;
    text-align: center;
    width: 20%;
}
.circimg-ino{
    position: relative;
    width: 100% !important;
    text-align: center;
    z-index: 50;
    max-height: 50px;
        transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}
.circimg-ino:hover{
    background-color: inherit !important;
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.img-inonav{
    position: absolute;
    top: 0;
    transform: translate(-50%,-50%);
}
.cirle-ino{
    z-index: 53;
    width: 120px;
    background-color: #fff;
    /* width: 20%; */
    bottom: -60px;
    border-radius: 60px;
    height: 120px;
    position: absolute !important;
    box-shadow: 0px 0px 7px 2px #443e3e;
}
.circimg-ino{
    width: 20%;
}
.lista-nav{
    z-index: 20;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lista-nav:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    left: calc(50% - 10px);
    bottom: 1px;
    border-width: 10px 10px 0 10px;
    border-color: rgb(250, 195, 7) transparent transparent transparent;
}
.lista-nav:hover:before, .lista-nav:focus:before, .lista-nav:active:before {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: rgba(45, 49, 66,0.0);
    color: #fff;
}
.imghead-wrap{
left: 0;
    top: 6px;
    z-index: 10;
    position: absolute;
}
#imagen-backhead{
    width: 100%;
    height: 138px;
    z-index: 50;
}
.lista-nav:hover, .lista-nav:focus, .lista-nav:active {
    color: white;
}
#navbar-dwn{
    background-color: rgba(203,206,215,0.6);
    margin-top: 50px; 
}
/*END NAVBAR*/



@media (min-width: 768px){
    
/*NAVBAR*/
    .navbar-nav {
        float:none;
        margin: 0;
    }
    .imghead-wrap-2 {
        display: none;;
    }
/*END NAVBAR*/

}

@media (max-width: 767px){
    .imghead-wrap-2{
        display: none;
    }
    .lista-nav:hover:before, .lista-nav:focus:before, .lista-nav:active:before {
        -webkit-transform: none !important;
        transform: none !important;
    }
    .h1-inoloop{
        line-height: 18px !important;
        font-size: 14px !important;
        display: inline;
    }
    
    
    .head-descr-wrap{
        line-height: 18px !important;
        font-size: 14px !important;

    }

/*NAVBAR*/
    .row-recursos{
        margin-right: -15px;
        margin-left: -15px;
    }
    .navbar-fixed-top{
         background-color:  rgba(203,206,215,0.6);
    }
    #elemli-circ{
        display: none !important;
    }
    .imghead-wrap {
        display: none;
    }
    .imghead-wrap-2 {
        left: 0;
        top: -44px;
        z-index: 2;
        position: absolute;
    }
    #navbar-dwn {
        background-color: rgba(203,206,215,0.6);
        margin-top: 0px !important;
    }
    .lista-nav:before {
        display: none;
    }
    .navbar-middle-ino{
        z-index: -4;
    }
    .elemli-nav{
        width: 100%!important;
        
    }
    .elemli-nav:hover, .elemli-nav:focus, .elemli-nav:active{
        background-color: #c8cbd5;
        
    }
/*END NAVBAR*/
    
}

@media (max-width: 462px){

    .btn-info-index {
        font-size: 13px;
    }
    .pagweb-info-inn {
        width: 100% !important;
        border-radius: 5px;
    }
}

