@import url("bootstrap-mix.css");


/*NAVBAR*/

.navbar{
    font-family: "Roboto";
    height: 81px;
    background: #000;
}

.navbar-nav a{
    display: inline-block;
    vertical-align: middle;
}


.navbar-nav>li>a{
    transition: color 0.5s ease, background-color 0.5s ease;
    -webkit-transition: color 0.5s ease, background-color 0.5s ease;
    -moz-transition: color 0.5s ease, background-color 0.5s ease;
    -o-transition: color 0.5s ease, background-color 0.5s ease;
    -ms-transition: color 0.5s ease, background-color 0.5s ease;
    color: #fff;
}
.icon-bar{
    background-color: #fff;
}
li.active-nav-a>a{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: rgb(255,255,255);
    color: #2d3142;
}
.navbar-toggle{
    border: solid 2px #fff ;
    margin-top: 20px;
    margin-right: 30px;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: rgb(255,255,255);
    color: #2d3142;
}

.navbar-brand{
    padding: 0;
    padding-left: 15px;
    height: 80px;
    
}
.nav-img-logo{
    max-height: 80px;
    max-width: 300px;
    transform: translateY(-50%);
    top: 50%;
    position: relative;
}

.navbar-nav li{
    text-transform: uppercase;
}
.navbar-nav .open>a, .navbar-nav .open>a:focus, .navbar-nav .open>a:hover {
    background-color: #fff;
    border-color: #fff;
    color: #2d3142;
}
.dropdown-menu {
    background-color: #fff;
    color: rgb(45, 49, 66);
}
.navbar-nav a:before {
    background: none;
}
.navbar-nav .dropdown-menu>li>a {
    color: rgb(45, 49, 66);
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    text-align: center;
}

.navbar-nav .dropdown-menu>li>a:focus, .navbar-nav .dropdown-menu>li>a:hover {
    color: #888;
    background-color: #fff;
    background-image: -webkit-#fff;
    background-image: -o-#fff;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff));
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
    background-repeat: repeat-x;
}

@media (max-width: 991px) {
    .navbar-nav .container{
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
    }
    .navbar-nav {
        margin: 0 !important;
        float: none!important;
    }
    .navbar {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}


/*END NAVBAR*/
@media (min-width: 768px){
    .navbar-nav>li>a {

        padding: 30px 10px !important;
    }
    #navbar-dwn{
        float: right;
        text-align: center;
    }
}

@media (max-width: 767px){
    .navbar-nav .open .dropdown-menu {
        background-color: #fff;
    }
    .navbar-nav {
        margin:0 !important;
    }
    #navbar-dwn{
        background-color: #000;
        text-align: center;
        box-shadow: 0px 1px 5px #e0e0e0;
    }


}