$alto-header: 81px;

.navbar{
    position: relative;
    font-family: "Roboto";
    height: $alto-header;
    background: $color-primary;
    
    @media( max-width : $boots-tamax-md){
        top: 0;
        border-width: 0 0 1px;
    }
    .container{
        
        @media( max-width : $boots-tamax-md){
            margin: 0 !important;
            padding: 0 !important;
            width: 100%;
        }
    }
        
    .navbar-header{
        margin: 0;
        
        .navbar-toggle{
            border: solid 2px $color-texthead-primary;
            margin-top: 20px;
            margin-right: 30px;
            
            .icon-bar{
                background-color: $color-texthead-primary;
            }
        }
        .navbar-brand{
            padding: 0;
            padding-left: 15px;
            height: 80px;
            
            .nav-img-logo{
                max-height: 80px;
                max-width: 300px;
                transform: translateY(-50%);
                top: 50%;
                position: relative;
            }
        }
    }
    #navbar-dwn{
        
        .navbar-nav{
            
            li{
                text-transform: uppercase;
                
                a{
                    display: inline-block;
                    vertical-align: middle;
                    transition: color 0.5s ease, background-color 0.5s ease;
                    -webkit-transition: color 0.5s ease, background-color 0.5s ease;
                    -moz-transition: color 0.5s ease, background-color 0.5s ease;
                    -o-transition: color 0.5s ease, background-color 0.5s ease;
                    -ms-transition: color 0.5s ease, background-color 0.5s ease;
                    color: $color-texthead-primary;
                    
                    &:hover, &:focus{
                        background-color: $color-accent;
                        color: $color-texthead-accent;
                    }
                    &:before{
                        background: none;
                    }
                    
                    @media( max-width : $boots-tamax-md){
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                    @media( max-width : $boots-tamax-sm){
                        display: block;
                    }
                    @media( min-width : $boots-tamin-sm){
                        padding: 30px 10px !important;
                    }
                    
                }
                
                &.active-nav-a{
                    
                    a{
                        -webkit-transform: translateY(0);
                        transform: translateY(0);
                        background-color: $color-accent;
                        color: $color-texthead-accent;
                    }
                }
                
                &.open{
                    
                    a,a:focus,a:hover{
                        background-color: $color-accent;
                        border-color: $color-accent;
                        color: $color-texthead-accent;
                    }
                    
                    .dropdown-menu{
                        
                        @media( max-width : $boots-tamax-sm){
                            background-color: $color-accent;
                        }
                    }
                }
                &.dropdown{
                    
                    .dropdown-menu{
                        background-color: $color-accent;
                        color: $color-texthead-accent;
                        right: 0;
                        left: inherit;
                        
                        li{
                            text-align: center;
                            
                            a{
                                color: $color-texthead-accent;
                                @include transition(color $tiempo-trans-princ ease);  
                                padding: 10px 10px !important;
                                
                                &:focus, &:hover{
                                    color: $color-texthead-accent;
                                    background-color: $color-accent;
                                    background-image: -webkit-$color-accent;
                                    background-image: -o-$color-accent;
                                    background-image: -webkit-gradient(linear,left top,left bottom,from($color-accent),to($color-accent));
                                    background-image: linear-gradient(to bottom,$color-accent 0,$color-accent 100%);
                                    background-repeat: repeat-x;
                                }
                            }
                        }
                    }
                }
            }

            
            @media( max-width : $boots-tamax-md){
                margin: 0 !important;
                float: none!important;
            }
            @media( max-width : $boots-tamax-sm){
                margin:0 !important;
            }
        }
        
        &.collapse.in{
            
            @media( max-width : $boots-tamax-md){
                display:block !important;
            }
        }
        
        @media( min-width : $boots-tamin-sm){
            float: right;
            text-align: center;
        }
        @media( max-width : $boots-tamax-sm){
            background-color: $color-primary;
            text-align: center;
            box-shadow: 0px 1px 5px #e0e0e0;
        }
        
    }

}