/*Variables principales*/
/*Tamanos BOOTSTRAP*/
/*Tamanos BOOTSTRAP*/
/*Importamos bootstrap*/
@import url(../css/bootstrap-mix.css);
/*Declaramos los mixins principales*/
/*Importamos archivos de los componenetes*/
.navbar {
  font-family: "Roboto";
  height: 81px;
  background: black; }
  @media (max-width: 991px) {
    .navbar {
      top: 0;
      border-width: 0 0 1px; } }
  @media (max-width: 991px) {
    .navbar .container {
      margin: 0 !important;
      padding: 0 !important;
      width: 100%; } }
  .navbar .navbar-header .navbar-toggle {
    border: solid 2px white;
    margin-top: 20px;
    margin-right: 30px; }
    .navbar .navbar-header .navbar-toggle .icon-bar {
      background-color: white; }
  .navbar .navbar-header .navbar-brand {
    padding: 0;
    padding-left: 15px;
    height: 80px; }
    .navbar .navbar-header .navbar-brand .nav-img-logo {
      max-height: 80px;
      max-width: 300px;
      transform: translateY(-50%);
      top: 50%;
      position: relative; }
  .navbar #navbar-dwn .navbar-nav li {
    text-transform: uppercase; }
    .navbar #navbar-dwn .navbar-nav li a {
      display: inline-block;
      vertical-align: middle;
      transition: color 0.5s ease, background-color 0.5s ease;
      -webkit-transition: color 0.5s ease, background-color 0.5s ease;
      -moz-transition: color 0.5s ease, background-color 0.5s ease;
      -o-transition: color 0.5s ease, background-color 0.5s ease;
      -ms-transition: color 0.5s ease, background-color 0.5s ease;
      color: white; }
      .navbar #navbar-dwn .navbar-nav li a:hover, .navbar #navbar-dwn .navbar-nav li a:focus {
        background-color: white;
        color: black; }
      .navbar #navbar-dwn .navbar-nav li a:before {
        background: none; }
      @media (max-width: 991px) {
        .navbar #navbar-dwn .navbar-nav li a {
          padding-top: 10px;
          padding-bottom: 10px; } }
      @media (min-width: 768px) {
        .navbar #navbar-dwn .navbar-nav li a {
          padding: 30px 10px !important; } }
    .navbar #navbar-dwn .navbar-nav li.active-nav-a a {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      background-color: white;
      color: black; }
    .navbar #navbar-dwn .navbar-nav li.open a, .navbar #navbar-dwn .navbar-nav li.open a:focus, .navbar #navbar-dwn .navbar-nav li.open a:hover {
      background-color: white;
      border-color: white;
      color: black; }
    @media (max-width: 767px) {
      .navbar #navbar-dwn .navbar-nav li.open .dropdown-menu {
        background-color: white; } }
    .navbar #navbar-dwn .navbar-nav li.dropdown {
      background-color: white;
      color: black; }
      .navbar #navbar-dwn .navbar-nav li.dropdown .dropdown-menu li a {
        color: black;
        -webkit-transition: color 0.5s ease;
        -moz-transition: color 0.5s ease;
        -ms-transition: color 0.5s ease;
        -o-transition: color 0.5s ease;
        transition: color 0.5s ease;
        text-align: center; }
        .navbar #navbar-dwn .navbar-nav li.dropdown .dropdown-menu li a:focus, .navbar #navbar-dwn .navbar-nav li.dropdown .dropdown-menu li a:hover {
          color: black;
          background-color: white;
          background-image: -webkit- white;
          background-image: -o- white;
          background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
          background-image: linear-gradient(to bottom, white 0, white 100%);
          background-repeat: repeat-x; }
  @media (max-width: 991px) {
    .navbar #navbar-dwn .navbar-nav {
      margin: 0 !important;
      float: none !important; } }
  @media (max-width: 767px) {
    .navbar #navbar-dwn .navbar-nav {
      margin: 0 !important; } }
  @media (max-width: 991px) {
    .navbar #navbar-dwn.collapse.in {
      display: block !important; } }
  @media (min-width: 768px) {
    .navbar #navbar-dwn {
      float: right;
      text-align: center; } }
  @media (max-width: 767px) {
    .navbar #navbar-dwn {
      background-color: black;
      text-align: center;
      box-shadow: 0px 1px 5px #e0e0e0; } }

/*Estilos generales*/
.absolute-center {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center; }

/*END Estilos generales*/
/* GENERAL */
/* END GENERAL */

/*# sourceMappingURL=princ.css.map */
