/*Variables principales*/
$color-primary: rgba(0,0,0,1);
$color-accent: rgba(255,255,255,1);
$color-texthead-primary: rgba(255,255,255,1);
$color-texthead-accent: rgba(0,0,0,1);
$color-text-primary: rgba(0,0,0,1);
$color-text-accent: rgba(255,255,255,1);
$color-exito: rgba(22, 121, 11,1);
$color-fracaso: rgba(193, 24, 24,1);
$tiempo-trans-princ : 0.5s;

/*Tamanos BOOTSTRAP*/
$boots-tamin-sm: 768px;
$boots-tamin-md: 992px;
$boots-tamin-lg: 1200px;

/*Tamanos BOOTSTRAP*/
$boots-tamax-sm: 767px;
$boots-tamax-md: 991px;
$boots-tamax-lg: 1199px;

/*Importamos bootstrap*/
@import "../css/bootstrap-mix.css";


/*Declaramos los mixins principales*/
@mixin box-shadow($x-ffset, $y-ffset, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $x-ffset $y-ffset $blur $spread $color;
    -moz-box-shadow:inset $x-ffset $y-ffset $blur $spread $color;
    box-shadow:inset $x-ffset $y-ffset $blur $spread $color;
  } @else {
    -webkit-box-shadow: $x-ffset $y-ffset $blur $spread $color;
    -moz-box-shadow: $x-ffset $y-ffset $blur $spread $color;
    box-shadow: $x-ffset $y-ffset $blur $spread $color;
  }
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/*Importamos archivos de los componenetes*/
@import "header.scss";
@import "registroventa.scss";

/*Estilos generales*/

body{
    padding-bottom: 25px;
}

.absolute-center {

    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;

}

/*END Estilos generales*/
/* GENERAL */
.container-general{
    margin-top: 0;
}
.panel-group{
    
    .panel-vintragos{
        
        .panel-heading{
            background-image: -o-none;
            background-image: -webkit-none;
            background-image: none;
            background-repeat: repeat-x;
            color: $color-text-accent;
            background-color: $color-primary;
            border-color: #ddd;
        }
    }
}
.datpersbut-mod{
    text-align: center;
}
.msg-exitoso{
    font-weight: bold;
    font-size: 16px;
    color: $color-exito;
}
.msg-probl{
    font-weight: bold;
    font-size: 16px;
    color: $color-fracaso;
}
.remover-btn{
    color: $color-fracaso;
}
.table-grande{
    display: inline-block;
}
/* END GENERAL */

