.info-tienda-wrapp{
    margin-bottom: 20px;
    
    .info-tienda-inn{

        .info-tienda-row{

            .info-tienda-tit{
                display: inline-block;
                font-weight: bold;
            }
            .info-tienda-descr{
                display: inline-block;
            }
        }
    
    }

}

.info-venta-wrapp{
    
    .info-venta-inn{

        .table-venta{
            
            thead{
                
                .th-venta-cant{
                    width: 80px;
                }
                .th-venta-punit,.th-venta-ptot{
                    min-width: 70px;
                }
                .th-venta-subp{
                    width: 50px;
                }
                .th-venta-punit{
                    width: 100px;
                }
                
            }
            .tr-venta-detalle{
                .td-venta-elim{
                    width: 36px;

                    a{
                        cursor: pointer;
                        color: #dc053f;
                    }
                }
                .td-venta-subp{
                    
                    .label-subp-detable{
                        font-weight: 100;
                    }
                }
                .td-compra-punit, .td-subp-cant, .td-compra-ptot{
                    display: none;
                }
            }
            .tr-venta-monto{

            }
            .tr-venta-paga{

                .td-venta-pagamonto{
                    width: 80px;
                    
                    input{
                        
                        width: 91px;
                        padding-right: 0;
                        margin-right: 0;
                    }
                }
            }
            .tr-venta-descuento{

                .td-venta-descuento{
                    width: 80px;
                    
                    input{
                        
                        width: 91px;
                        padding-right: 0;
                        margin-right: 0;
                    }
                }
            }
            .tr-venta-vuelto{

            }
                
        }
    
    }
}
.td-venta-vacio{ 
    background-color: #fff !important;
    border-bottom: 1px solid #fff !important;
    border-left: 1px solid #fff !important;
}
.infoad-venta-wrapp{
    
    .infoad-venta-inn{
        
        .retencion-wrapp{
            display: inline-block;
            
            input{
                width: 80px;
                display: inline-block;
            }
        }
        
        .adicional-wrapp{
            width: -webkit-calc(100% - 173px);
            width: -moz-calc(100% - 173px);
            width: calc(100% - 173px);
            display: inline-block;
            
            input{
                display: inline-block;
                width: -webkit-calc(100% - 81px);
                width: -moz-calc(100% - 81px);
                width: calc(100% - 81px);
            }
        }
    }
}

.btn-subirventa-wrapp{
    
    .btn-subirventa-inn{
        
        margin-top: 15px;
        text-align: right;
    }
}

.modbod-agprod{
    
    .datpersbut-wrap{
        margin-top: 20px;
        text-align: right;
    }
    
    .form-agreprod{
        
        .easy-autocomplete{
            width: calc(100% - 110px) !important;
            display: inline-block;
        }
    }
}
.mov-list-historial{
    text-align: center;
    
}
.inv-modbod-btn{
    text-align: center;
}