.info-tienda-wrapp {
  margin-bottom: 20px; }
  .info-tienda-wrapp .info-tienda-inn .info-tienda-row .info-tienda-tit {
    display: inline-block;
    font-weight: bold; }
  .info-tienda-wrapp .info-tienda-inn .info-tienda-row .info-tienda-descr {
    display: inline-block; }

.info-venta-wrapp .info-venta-inn .table-venta thead .th-venta-cant {
  width: 80px; }
.info-venta-wrapp .info-venta-inn .table-venta thead .th-venta-punit, .info-venta-wrapp .info-venta-inn .table-venta thead .th-venta-ptot {
  min-width: 70px; }
.info-venta-wrapp .info-venta-inn .table-venta thead .th-venta-subp {
  width: 50px; }
.info-venta-wrapp .info-venta-inn .table-venta thead .th-venta-punit {
  width: 100px; }
.info-venta-wrapp .info-venta-inn .table-venta .tr-venta-detalle .td-venta-elim {
  width: 36px; }
  .info-venta-wrapp .info-venta-inn .table-venta .tr-venta-detalle .td-venta-elim a {
    cursor: pointer;
    color: #dc053f; }
.info-venta-wrapp .info-venta-inn .table-venta .tr-venta-detalle .td-venta-subp .label-subp-detable {
  font-weight: 100; }
.info-venta-wrapp .info-venta-inn .table-venta .tr-venta-detalle .td-compra-punit, .info-venta-wrapp .info-venta-inn .table-venta .tr-venta-detalle .td-subp-cant, .info-venta-wrapp .info-venta-inn .table-venta .tr-venta-detalle .td-compra-ptot {
  display: none; }
.info-venta-wrapp .info-venta-inn .table-venta .tr-venta-paga .td-venta-pagamonto {
  width: 80px; }
  .info-venta-wrapp .info-venta-inn .table-venta .tr-venta-paga .td-venta-pagamonto input {
    width: 91px;
    padding-right: 0;
    margin-right: 0; }

.td-venta-vacio {
  background-color: #fff !important;
  border-bottom: 1px solid #fff !important;
  border-left: 1px solid #fff !important; }

.infoad-venta-wrapp .infoad-venta-inn .retencion-wrapp {
  display: inline-block; }
  .infoad-venta-wrapp .infoad-venta-inn .retencion-wrapp input {
    width: 80px;
    display: inline-block; }
.infoad-venta-wrapp .infoad-venta-inn .adicional-wrapp {
  width: -webkit-calc(100% - 173px);
  width: -moz-calc(100% - 173px);
  width: calc(100% - 173px);
  display: inline-block; }
  .infoad-venta-wrapp .infoad-venta-inn .adicional-wrapp input {
    display: inline-block;
    width: -webkit-calc(100% - 81px);
    width: -moz-calc(100% - 81px);
    width: calc(100% - 81px); }

.btn-subirventa-wrapp .btn-subirventa-inn {
  margin-top: 15px;
  text-align: right; }

.modbod-agprod .datpersbut-wrap {
  margin-top: 20px;
  text-align: right; }
.modbod-agprod .form-agreprod .easy-autocomplete {
  width: calc(100% - 110px) !important;
  display: inline-block; }

.mov-list-historial {
  text-align: center; }

.inv-modbod-btn {
  text-align: center; }

/*# sourceMappingURL=registroventa.css.map */
