@font-face{
    font-family: "myFirstFont";
    src: url("Roboto-Light.ttf");
}
html{
    font-family: "myFirstFont", "Trebuchet MS", Arial, sans-serif;
    height: 100%;
  box-sizing: border-box;
}

/*NAVBAR*/
.navbar{
    background-color: rgb(221,0,0);
}
.navbar-nav{
    margin: 0;
}

.nav>li>a{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 20px;

}
.li-nav{
    color: rgb(255,255,255);
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    margin: 11px 5px;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
}
.li-nav-foto{
    color: rgb(255,255,255);
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    margin: 11px 5px;
    height: 45px;
    
    vertical-align: middle;
    line-height: 45px;
}
.navbar-header{
    padding-top: 10px;
    padding-bottom: 10px;
}
.inic-sec-nav{
    color: rgb(221,0,0);
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    margin: 11px 5px;
    height: 30px;
    background-color: white;
    vertical-align: middle;
    line-height: 30px;
}

.inner-nav-inisec{
    font-size: 15px;

}
.inner-nav-inisec2{

}
.inner-nav-foto{
    position: relative;
    top: -10px;
    height: 35px;
}
.nav-foto{
    margin-top: 10px;
    width: 35px;
    height: 35px;
}
.navbar-middle{
    float: none;
    display: inline-block;
    margin: 0 auto;
}
.navbar-middle-2{
    margin-bottom: -6px;
    min-width: 750px;
    float: none;
    display: inline-block;
}
.nh-2{
    background-color: #fff !important;
}
.navbar-middle-3{
    min-width: 750px;
    float: none;
    display: inline-block;
    margin: 0 auto;
}
.navbar-middle-4{
    margin-bottom: -6px;
    min-width: 750px;
    float: none;
    display: inline-block;
}
@media (min-width: 768px) { 
    .navbar-middle-2 li,
    .navbar-middle li,
    .navbar-middle-3 li,
    .navbar-middle-4 li{
        width: 20%;
        max-width: 150px;
    }
    .navbar-middle{
        min-width: 750px;
        float: none;
        display: inline-block;
        margin: 0 auto;
    }
    .busq-trabajo-user {
    margin-top: 120px!important;
    }
    .busq-trabajo-nouser {
    margin-top: 90px!important;
    }
    .footer-inn-le{
        float: none;
        display: table-cell;
        margin-bottom: 10px;
        cursor: default;
    }
    .footer-inn-riwrap{
        vertical-align: middle;
        float: none;
        display: table-cell;
        text-align: center;
        height: 100%;
    }
    .container {
        width: 900px;
    }
}

.barra1-a{
    color: #fff;
}

.barra1-a:hover,.barra1-a:focus,.barra1-a:active,.barra1-a-active{
    color: #fff!important;
    background-color: rgb(81,80,82)!important;
}
.barra2-a{
    color: #fff;
}
.barra2-a:hover{
    color: #fff!important;
    background-color: #515052!important;
}
.barra3-a{
    padding-bottom: 10px!important;
    border-bottom: 5px solid rgb(221,0,0);
    color: #fff;
}
.barra3-a:hover{
    color: #fff!important;
    background-color: rgb(221,0,0)!important;
    border-bottom: 5px solid #515052;
}
.barra4-a{
    padding-bottom: 10px!important;
    border-bottom: 5px solid rgb(221,0,0);
    color: #fff;
}
.barra4-a:hover{
    color: #fff!important;
    background-color: rgb(221,0,0)!important;
    border-bottom: 5px solid #515052;
}
.barra5-a{
    color: #fff;
}
.barra5-a:hover{
    color: #515052!important;
    background-color: rgb(221,0,0)!important;
}
.icon-bar{
    background-color: #fff;
}
.navbar-toggle{
    border: solid 2px #fff;
}
.nav>li> .li-nav:focus, .nav>li> .li-nav:hover{
    background-color: rgb(255,255,255);
    color: rgb(221,0,0);
}
.nav>li> .inic-sec-nav:focus, .nav>li> .inic-sec-nav:hover{
    background-color: rgb(221,0,0);
    color:#fff;
    
}
#navbar-dwn{
    background-color: rgb(221,0,0);
    text-align: center;
    color: #fff;
}
.img-brand{
    height: 70px;
    margin-top:-14px
}
.navbar-right{
    background-color: rgb(221,0,0);
    text-align: center;
}
.nr-2{
    background-color: rgb(255,255,255) !important;
}
.navbar-collapse{
    padding-left: 0;
    padding-right: 0;
}
.list-group-horizontal .list-group-item{
    display: inline-block;
    margin-bottom: 0;
    margin-left: -4px;
    margin-right: 0;
}
.list-a-user{
border-top-left-radius: 0;
    border-top-right-radius: 0;
    min-width: 20%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.list-group-item:first-child {
border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.lista-activo{
        pointer-events: none;
        cursor: default;
    background-color: rgb(255,127,127);
    color: #fff!important;
}
.list-a-user:hover,.list-a-user:active,.list-a-user:focus{
border-top-left-radius: 0;
    background-color: rgb(255,127,127)!important;
    color: #fff!important;
    
}
.busq-form{
    width: 80%;
    margin: 0 auto;
}
/*END NAVBAR*/
/*BARRA BUSQUEDA*/
.busq-trabajo{
    padding-top: 80px;
    padding-bottom: 200px;
    background-color: rgb(248,230,230);
    background-image: url(../img/img-busq.jpg);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-attachment:inherit;
    background-position: center;
    border: 1px solid #bbb;
    position: relative;
}
.busq-trabajo-user,.busq-trabajo-nouser{
    margin-top: 90px;
}

.btn-busq-form{
    background-color: rgb(81,80,82);!important;
    color: #fff;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.btn-busq-form:hover,.btn-busq-form:active,.btn-busq-form:focus{
    background-color: rgb(151,149, 156)!important;
    color: #ddd!important;
}
.list-user-wrap{
    padding-left: 0;
    padding-right: 0;
}
.pest-user{
        padding-top: 70px;

}
.list-a-user{
    
}
.row-busq{

}
.row-busq-nouser{
    padding-top: 155px;
    padding-bottom: 25px;
    position: absolute;
    bottom: 0px;
    background-color: rgba(255,255,255,0.3);
}
.form-busq{
    float: right;
    display: inline-block;
    width: 80%
}
#busqueda-inp{
    
}
#buscar-empbut{
    
}


/*BODY*/
body{
    min-width: 900px;
    min-height: 100%;
    background-color: #fff;
  position: relative;
  padding-bottom: 22rem;
}
.container{
    max-width: 970px;
}
.cont-body{
    border: 1px solid #bbb;
    margin-top: 15px;
    padding-top: 10px;

}
.cont-body-ot{
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
}
.cont-body-ot{
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
}
.cont-body-otuser{
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
}
.row-body{
    margin: 0;
}
/*Body*/
/*INDEX*/
.inp-sev{
    text-align: inherit;
}
.inp-sevolunt{
    margin-bottom: 10px;
}
.btn-form-novis{
    display: none;
}
.filtros-wrapper{
    padding-top: 5px;
}
.filtro-barra{
    display: inline-block;
}
.filto-barra-btn{
    padding: 1px 5px;
    border-radius: 0;
    background-color: #bbb;
    color: #fff;
    margin-right: 0;
}
.filto-barra-x{
        padding: 1px 5px;
    border-radius: 0;
    background-color: #bbb;
    color: #fff;
    margin-left: -2px;;
}
/*END INDEX*/
/* LOGIN MODAL*/
.lbl-login-mod{
    font-weight: 100;
}
.olvcont-mod{
    text-align: center;

}
.olvcont-mod a:hover,.olvcont-mod a:focus,.olvcont-mod a:active{
    color: rgb(51,122,183);
    font-weight: 600;
}
.logbut-mod{
    padding: 10px 0;
    text-align: center;
}
.btn-entr-mod{
    background-color: rgb(255,127,127);
    color: #fff;
    border-radius: 0px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.btn-entr-mod:hover,.btn-entr-mod:hover:focus,.btn-entr-mod:active{
    background-color: rgb(221,0,0);
    color: #fff;
}
.close-modal{
    width: 25px;
    border-radius: 25px;
    color: #000;
}
/*END LOGIN MODAL*/

/*BARRA LATERAL BÚSQUEDA TRABAJO*/
/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/*END BARRA LATERAL BÚSQUEDA TRABAJO*/

/*ANUNCIO*/
.breadcrumb {
    background-color: #FFF;
    padding: 6px 10px;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: ">";
}

.ro-deta-anunc{
    padding: 10px;
    border: 1px solid #bbb;
    margin-bottom: 10px;
}
.foto-wrap-anunc{
    display: inline-block;
    width: 100px;
    text-align: center;
}
.btn-perf-ver{
    background-color: rgb(250,128,128);
    color: #fff;
    width: 100%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.btn-perf-ver:hover,.btn-perf-ver:focus,.btn-perf-ver:active{
    background-color: rgb(221,0,0);
    color: #fff;
}
.descr-anu-anunc{
padding-left: 20px;
    vertical-align: top;
    display: inline-block;
    width: 80%;
}
.nomb-empleo-anunc{
    font-size: 17px;
    color: rgb(0,127,255);
}
.empleo-empresa-anunc{
    color:#000;
}
.empleo-caract-anunc{
    position: relative;

}
.lug-deta-anunc{
    color: rgb(0,127,255);
}
.desc-ofem0-anunc{
    display: inline-block;
    padding-right: 10px;
}
.desc-ofem1-anunc{
    display: inline-block;
    padding-right: 10px;
}

.desc-ofem2-anunc{
    text-align: right;
    display: inline-block;
}
.btn-postu{
    background-color: rgb(250,128,128);
    color: #fff;
    padding: 5px;
    font-size: 20px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.btn-postu:hover,.btn-postu:focus,.btn-postur:active{
    background-color: rgb(221,0,0);
    color: #fff;
}
.ro-anunc-pare{
    padding: 10px;
    border: 1px solid #bbb;
    margin-bottom: 10px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.ro-anunc-pare:hover,.ro-anunc-pare:focus,.ro-anunc-pare:active{
    background-color: #ddd;
}
.row-empRelacs{
    padding: 0; 
}
.descr-anunc-wraper{
    padding: 10px 15px;
    border: 1px solid #bbb;
}
.descr-anunc-wraper2{
    padding: 10px 15px;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}
.descr-anunc-cont{
    
}
.head-anunc-descr{
    font-size: 20px;
    padding-bottom: 5px;
}
.body-anunc-descr{
    text-align: justify;
}
.titl-anun-sec{
    font-size: 17px;
}
.descr-anunc-sec{
    border-top: 1px solid #bbb;
}
.descr-anunc-post{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.btn-postu-descr{
    background-color: rgb(250,128,128);
    color: #fff;
    padding: 7px 15px;
    font-size: 20px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.btn-postu-descr:hover,.btn-postu-descr:focus,.btn-postur-descr:active{
    background-color: rgb(221,0,0);
    color: #fff;
}
.descr-anunc-rs{
    padding-top: 10px;
    text-align: right;
}
.img-wrap-anunc{
    display: inline-block;
}
.img-anunc{
    width: 25px;
    height: 25px;
}
.descr-anunc-map{
    margin-top: 25px;
}
.mapa-decr-emp{
    width: 100%;
    height: 350px;
}
.barra-lat-ofert{
    color: #888;
    font-size: 20px;
    padding-bottom: 5px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #888;
    cursor: default;
    background-color: #fff;
    border: 1px solid #bbb;
    border-bottom-color: transparent;
}
.nav-tabs a{
    color: #888;
}
.nav-tabs {
    border-bottom: 1px solid #bbb;
}
.lbl-aviso-postular{
    display: block;
    line-height: 25px;
    text-align: center;
}
.empresa-aviso-preguntas{
    font-weight: bold;
    color: rgb(20,20,150);
}
.modal-preg-num,.modal-preg-tempo{
    display: inline-block;
}
.modal-preg-tempo{
    position: absolute;
    right: 15px;
}
.rb-resp-ex{
    vertical-align: middle;
    height: 25px!important;
}
.lbl-resp-ex{
    line-height: 25px!important;
    vertical-align: bottom;
    padding-left: 15px;
    font-weight: 100;
    margin-bottom: 0;
}
.modal-preg-wrapper{
    padding: 10px 15px;
}
.modal-resp-wrapper{
    padding-left: 45px;
}
.modal-preg-agimg{
    text-align: center;
}
.modal-preg-agimg img{
    height: 100px;
}
.modal-preg-agnombemp{
    text-align: center;
    font-size: 25px;
    color: rgb(50,50,200);
}
.modal-resp-agagra{
        text-align: center;
    font-size: 25px;
}
/*END ANUNCIO*/

/*MICV*/
.descr-nombr-cont{

}
.micv-pers-info{
    position: relative;

}

.micv-pers-nombr{
    max-width: 80%;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    clear: both;
}
.micv-foto{
    
}
.pers-descr-wrap{
    
}
.micv-titu-descr{
    color: #888;
}
.mics-perso-descr{
    
}
.micv-edit-wrap{
    display: inline-block;
    float: right;
}
.editar-cv-icono{
    background-color: rgb(81,80,82);
    color: #fff!important;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.editar-cv-icono:hover,.editar-cv-icono:active,.editar-cv-icono:focus{
    background-color: rgb(151,149, 156);
    color: #fff!important;
}
.micv-prof-nombr{
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    padding-bottom: 5px;
}
.micv-foto-row{
    
}
.micv-foto-wrap{

}
.hr-strong{
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #bbb; /* old IE */
    background-color: #bbb; /* Modern Browsers */
}
.micv-foto-inner{
    position: relative;
    width: 150px;
    margin: 0 auto;
}
.micv-foto{
    border: 1px solid #bbb;
    height: 150px;
    width: 150px;
}
.micv-editfoto-wrap{
    position: absolute;
    right: 0;
}
.decr-perse-micv{

    
}
.descr-perse-inner{
    
}
.descr-parag-ext{
    border-left: 2px solid #bbb;
}
.descr-parag-int{
    text-align: justify;
    padding-left: 15px;
    margin-bottom: 15px;
}
.descr-parag-inner{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #bbb;
}
.descr-parag-inpret{
    padding-top: 5px;
    padding-bottom: 5px;
}
.exp-inner-tit{
    
}
.exp-inn-emp{
    
}
.exp-inn-cargo{
    color: rgb(26,124,224);
    padding-bottom: 5px;
}
.exp-inner-descr{
    
}
.exp-inninn-tit{
    
}
.exp-inninn-descr{
    padding-left: 15px;
}
.est-inn{
    color: rgb(26,124,224);
}
.est-inninn-tit{
    
}
.est-inninn-gri{
    color: #888;
}
.descv-img-wraw{
    padding: 0;
    margin: 0;
}
.desc-cv-img{
    width: 100%;

}
.cv-compl-tit{
    padding-bottom: 5px;
}
.progress {
    border: 2px solid #bbb;
    background-image: -webkit-linear-gradient(top,#fff 0,#fff 100%);
    background-image: -o-linear-gradient(top,#fff 0,#fff 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff));
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
    background-repeat: repeat-x;
}
.progress-bar{
    line-height: 17px;
}
.ro-anunc-cv{
        padding: 10px;
    border: 1px solid #bbb;
    margin-bottom: 10px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

.cvcert-est-img{
    border: 1px solid #888;
    height: 50vw;
    width: 50vw;
    max-width: 600px;
    max-height: 600px;
}
.est-img-wrap{
    padding-left: 0;
    text-align: center;

}
.cvcert-est-tit{
    font-weight: bolder;
}
.divi-cert{
    display: inline-block;
    width: 100%;
    border-top: 1px solid #bbb;

}
.cvcert-est-inst{
    color: rgb(26,124,229);
    font-weight: bold;
}
.cvcert-est-but{
    padding-bottom: 10px;
    padding-top: 10px;
}
.cvcert-est-anabut{
    padding-top: 10px;
}
.acert-est-wrap{
    display: inline-block;
    margin-right: 10px;
}
.acert-est-wrap a{
    color: #888;
    padding: 2px 10px;
    border: 1px solid #888;
}
.acert-est-wrap a:hover,.acert-est-wrap a:focus,.acert-est-wrap a:active,.acert-est-active a{
    background-color: #ddd;
    color: #888;
    padding: 2px 10px;
    border: 1px solid #888;
}

/*END MICV*/





/*OFERTAS*/
.row-ofertas{
    width: 100%;
    border: 2px solid black;
    margin-bottom: 10px;
}

.foto-wrap{
    display: inline-block;
    width: 100px;
}
.foto-emp{
    width: 100px;
    height:100px;
}

.row-anunciosempr{
    width: 100%;
    margin: 0;
}

.ro-descripAnunc{
    padding: 10px;
    border: 1px solid #bbb;
    margin-bottom: 10px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.ro-descripAnunc:hover,.ro-descripAnunc:focus,.ro-descripAnunc:active{
    background-color: #ddd;
}
.descr-anunc{
    vertical-align: top;
    display: inline-block;
}
.nomb-empleo{
    font-size: 17px;
    color: rgb(0,127,255);
}
.empleo-empresa{
    color:#000;
}
.empleo-caract{
    position: relative;
    color: rgb(128,128,128);
}
.desc-ofem-0{
    display: inline-block;
    padding-right: 10px;
}
.desc-ofem-1{
    display: inline-block;
    padding-right: 10px;
}

.desc-ofem-2{
    display: inline-block;
}

.fecha-pubEmp{
    
}
.lugar-emp{
    
}
.coment-anunc{
    
}
.row-ofertas{

}
.emp-relac{
    margin-left: -15px;
    font-size: 18px;
    font-weight: bold;
}
.row-ofertasrelac{
    width: 100%;
    border: 2px solid black;
    margin-bottom: 10px;
}
.ro-descripEmpRelac{
    padding: 10px;
}
.descr-empRelac{
    vertical-align: top;
    display: inline-block;
}
.nom-empleoRelac{
    font-weight: bold;
    overflow:hidden;
}
.nom-emprRelac{
    
}
/*END OFERTAS*/

/*FILTRO*/
.row-filtroswrap{

}
.filtros-titulo{
    margin-left: -15px;
    padding: 2px;
    width: 100%;
    border: 2px solid black;
    font-size: 18px;
    font-weight: bold;
}
.row-filtros{
    width: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.ro-filtro{
    padding: 0;
}
.filtro-nom{
    padding-left: 5px;
    border-bottom: 2px solid black;
}
.descr-filtro{
    padding-left: 5px;
    min-height: 30px;
    vertical-align:middle;
    border-bottom: 2px solid black;
}
.descr-filsel{
    padding-left: 0;
}
.descr-filran{
    margin-left: -2px;
}
.nom-emprRelac{
    
}
.sel-filDep{
    width: 100%;
    height: 30px;
}
/*END FILTRO*/


/* FOOTER*/
.foot-wrap{
color: #fff;
color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;

  background-color: rgb(221,0,0);
}
.foot-top-wraper{
    border-bottom: 1px solid #fff;
}
.nosot-foot-wrap{
    display: inline-block;
    width: 70%;
}
.contact-foot-wrap{
    display: inline-block;
    width: 29%;
    float: right;
}
.footer-inn-le{
    margin-bottom: 10px;
    cursor: default;
}
.footer-inn-riwrap{
    text-align: center;
    height: 100%;
}
.footer-inn-ri{
    border-left: 1px solid #fff;
}
.img-foot-rs{

    margin-right: 15px;
}
.rs-foot{
    border-radius: 5px;
    width: 30px;

}
.sig-foot{
    display: inline-block;
    padding: 0 35px 8px 10px;
}
.contact-foot{
    cursor: default;
    padding-left: 8px;
}
.cont-num-foot{
    margin-left: 15px;
}
.nosot-footer{
    margin-left: 35px;
}
.copr-aqm a{
    transition: color 2s;
    -webkit-transition: color 2s;
    color:#f9d663;
}
.copr-aqm a:hover,.copr-aqm a:focus{
    color:#e68c9d;
    text-decoration: none;
}
.logo-foot{
     height: 32px;
    transition: box-shadow 1s;
    -webkit-transition: box-shadow 1s;
    -moz-transition: box-shadow 1s;
    -o-transition: box-shadow 1s;
    -ms-transition: box-shadow 1s;
}
.logo-foot:hover, .logo-foot:focus,.logo-foot:active {
    box-shadow: 0 0 15px #ddd;
}
.footer-copy{
    
    padding-top:10px;
    text-align: center;
}

.copr,.copr-aqm{
    background-color: rgb(221,0,0);
    display: inline-block;
    padding: 0px 15px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}
.copr{
    width: 100%;
}
.copr1{
    background-color: rgb(221,0,0);
    display: inline-block;
    padding: 0px 15px;
    cursor: default;
}
.copr a{
    padding: 2px 2px;
    color: #fff;

}
.copr:hover{
    background-color: rgb(250,50,50);
}
.divvert{
    display: inline-block;
    color: #666;
}
.pwrdby{
    cursor: default;
}
/* END FOOTER*/

/*POSTULACIONES*/
.col-postu{
    padding-left: 0;
    padding-right: 0;
}


.postu-wrapper{
    text-align: center;
    border: 1px solid #ccc;
    padding-right: 5px;
    width: 100%;
    margin-bottom: 10px;
}
.empresa-postu-wrap{
    display: inline-block;
    min-width: 280px;
    width: 30%;
}
.img-emp-postu{
    width: 80px;
    height: 80px;
    margin-right: 10px;
    margin-top: 30px;
}
.img-postu-wrap{
    height: 140px;
    width: 100px;
    display: inline-block;
    float: left;
}
.descem-post-inner{
  position: absolute;
  top: 50%; 
    left: 50%;
    width: 100%;
  transform: translate(-50%,-50%);
    text-align: left;
}
.descem-post-wrap{
    position: relative;
    vertical-align: middle;
    width: 180px;
    height: 140px;
    display: inline-block;
    margin: 0 auto;
}
.tit-post-wrap{
    color: rgb(221,0,0);
    font-size: 18px;
    font-weight: bold;
}
.carg-post-wrap{
    color: #000;
    font-size: 15px;
    font-weight: bold;
}
.datos-post-wrap{
    color: #888;
}
.estado-post-img{
    width: 60px;
    height: 60px;
}
.txt-descr-est{
    text-align: center;
}
.cv-status-wrap {
    text-align: center;
    display: inline-block;
    width: 19%;
    vertical-align: top;
}
.cv-sig-wrap{
    width: 2%;
}
.proc-sgte-wrap{
    width: 5px;
    padding: 5px 15px 5px 10px;
    display: inline-block;
    transform: translateY(70%);
    color: rgb(101,209,0)
}
.proc-sgtenn-wrap{
    width: 5px;
    padding: 5px 15px 5px 10px;
    display: inline-block;
    transform: translateY(70%);
    color: #ccc;
}
.estado-proc-wrap{
    display: inline-block;
    min-width:  420px;
    width: 60%;
    vertical-align: middle;
}
/*POSTULACIONES END*/

/*NOTIFICACIONES*/
.btn-noti-wrap{
    padding: 5px;
    display: inline-block;
    width: 120px;
    
}
#selec-noti{
    width: 100%;
}
.col-noti-opc{


}
.opciones-noti{
    border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
    margin-bottom: 10px;
}
.btn-noti{
    color: #888;
    padding: 2px 10px;
    border: 1px solid #888;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.btn-noti:hover,.btn-noti:focus{
    background-color: #ddd;
    color: #888;
    padding: 2px 10px;
    border: 1px solid #888;
}
.notifi-titucorr{
    position: relative;
    width: 270px;
    padding: 5px;
    border: 1px solid #ccc;
    height: 55px;
    -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.noti-check-wrap{
    vertical-align: middle;
    line-height: 45px;
    float: left;
    padding: 0 5px;
    display: inline-block;
}
.noti-info-wrap{
    color: #000;
    width: 220px;
    display: inline-block;
    overflow: hidden;
    transition: all 0.5s ease;

}
.notifi-titucorr:hover,.notifi-titucorr:focus{
    background-color: #ddd;
    color: #888;

}
.titucorr-tit-tit{
    display: inline-block;
    width: 160px;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    height: 25px
}
.titucorr-tit-titleido{
    display: inline-block;
    width: 160px;
    font-size: 16px;
    overflow: hidden;
    height: 25px
}
.titucorr-tit-fecha{
    display: inline-block;
    float: right;
}
.titucorr-tit-wrap{
    height: 22px;
}
.titucorr-cont-wrap{
    height: 22px;
    overflow: hidden;
}
.notifi-img-wrap{
    display: inline-block;
    float: left;
    height: 80px;
}
.img-tit-correo{
    max-width: 200px;
    height: 70px;
}
.notifi-correotit-wrap{
    position: relative;
    width: 550px;
    display: block;
    widows: 100%;
    height: 80px;
    padding: 0 5px;
    border-bottom: 1px solid #ccc;
}
.notifi-text-in{
        display: block;
    widows: 100%;
    padding: 5px;
    padding-bottom: 15px;
}
.notifi-text-wrap{
    padding: 5px;
    border: 1px solid #ccc;
}
.notifi-empre-wrap{
    display: inline-block;
    padding-left: 15px;
    max-width: 340px;
    height: 20px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
}
.notifi-tema-wrap{
    display: inline-block;
    padding-left: 15px;
    max-width: 340px;
    height: 40px;
    overflow: hidden;
}
.notifi-fechacor-wrap{
    position: absolute;
    top: 0;
    right: 5px;
}
.botones-correo-wrap{
    text-align: center;
    padding: 15px 0;
}
.bootstrap-datetimepicker-widget{
    background-color: #fff;
}


/*END NOTIFICACIONES*/

/*DATOS PERSONALES MODAL*/
.modbod-datoper{
    min-height: 100%;
}
.form-datoper{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.form-datoper input,.form-datoper select{
    height: 35px;
}
.form-datper-left{
}
.form-datper-right{
}

.datpersbut-wrap{
    text-align: center;
}
.datpersbut-mod{
    display: inline-block;
    padding: 20px 5px 5px 5px;
    text-align: center;
    margin-bottom: 5px;
}
.btn-datper-mod{
    margin-right: 5px;
    width: 100px;
    background-color: rgb(255,127,127);
    color: #fff;
    border-radius: 0px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.btn-datper-mod:hover,.btn-datper-mod:hover:focus,.btn-datper-mod:active{
    background-color: rgb(221,0,0);
    color: #fff;
}
.btn-datper-canc{
    margin-left: 5px;
    width: 100px;
    background-color: rgb(255,255,255);
    color: #000;
    border: 1px solid #ddd;
    border-radius: 0px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.btn-datper-canc:hover,.btn-datper-canc:hover:focus,.btn-datper-canc:active{
    background-color: #ddd;
}
#dia-nac{
    display: inline-block;
    width: 30%;
}
#mes-nac{
    display: inline-block;
    width: 30%;
}
#ano-nac{
    height: 34px;
    display: inline-block;
    width: 35%;
}
#tipo-doc{
    display: inline-block;
    width: 48%;
}
#identific{
    display: inline-block;
    width: 49%;
}
#discapacidad{
    display: inline-block;
    width: 30%;
}
#descr-disc{
    display: none;
    width: 68%;
}

.form-datoper input,.form-datoper select{
    height: 35px;
}
#mes-inic{
    display: inline-block;
    width: 30%;
}
#ano-inic{
    display: inline-block;
    width: 30%;
}
#mes-cese{
    display: inline-block;
    width: 30%;
}
#ano-cese{
    display: inline-block;
    width: 30%;
}
.rb-exp-mod{
    height: 15px!important;
    
}
.lbl-exp-mod{
    font-weight:lighter;
}
/*END DATOS PERSONALES MODAL*/

/*ESTUDIOS MODAL*/
#est-mes-inic{
    display: inline-block;
    width: 40%;
}
#est-ano-inic{
    display: inline-block;
    width: 57%;
}
#est-mes-cese{
    display: inline-block;
    width: 30%;
}
#est-ano-cese{
    display: inline-block;
    width: 30%;
}
/*END ESTUDIOS MODAL*/

/*REFERENCIA MODAL*/
#telef-fijo-ref{
    display: inline-block;
    width: 65%;
}
#anexo-ref{
    display: inline-block;
    width: 34%;
}

/*END REFERENCIA MODAL*/

/*AÑADIR CERTIFICADO MODAL*/
.selec-arch-mod{
    border-radius: 0px;
    color: #888;
    border: 1px solid #888;
    padding-top: 5px;
    padding-bottom: 5px;
}
.selec-arch-mod:hover,.selec-arch-mod:focus,.selec-arch-mod:active {
    background-color: rgb(221, 221, 221);
    border-radius: 0px;
    color: #888;
    border: 1px solid #888;
    padding-top: 5px;
    padding-bottom: 5px;
}
/*AÑADIR CERTIFICADO MODAL*/

/*SLIDER SELECCION*/
.wrapper-slider{
}
.slider-inn{
    background-color: #fff;
    min-height: 700px;
    overflow: hidden;
    padding: 50px;
    position: relative;
    margin: 0 auto;
    min-width: 50%;
    border: 1px solid #888;
}
.slider-inn2{
    background-color: #fff;
    min-height: 500px;
    overflow: hidden;
    padding: 50px;
    position: relative;
    margin: 0 auto;
    min-width: 50%;
    border: 1px solid #888;
}
.slider-inn-1{
    width: 95%;
    visibility:visible;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition:all 1s ease;
    -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
}
.slider-inn-inner{
    width: 80%;
    visibility: hidden;
    position: absolute;
    left: 150%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition:all 1s ease;
    -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
}

.btn-sel-slider{
    margin: 5px;
    width: 80%;
    max-width: 250px;
}
.btn-sel-atras{
    position: absolute;
    top: -30px;
    left: 10px;
}
/*END SLIDER SELECCION*/

/*KOSTICK*/
.info-papi{
    text-align: justify;
}

.ejpreg-kost{
    padding-top: 5px;
    font-weight: bolder;
}
.wrapper-pregnt-ej{
    padding-top: 4px;
    padding-bottom: 100px;
}
.wrapper-pregnt-kost{
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom:1px solid #ccc;
}
.numpreg-kost{
    padding-top: 5px;
    font-weight: bolder;
}
.radio-kostick{
    width:49%;
    vertical-align: top;
}
.titulo-kostick{
    font-size: 25px;
    font-weight: bold;
}
.label-tiempo{
    position: absolute;
    top: 10px;
    right:10px;

}
.label-tiempo-total{
    font-size: 20px;
    padding-bottom: 10px;
}
.parrafo-informe{
    padding: 10px;
}

.factor-titulo-informe{
    font-size: 16px;
    font-weight: bolder;
}
.factor-textp-informe{
    padding-bottom: 10px;
}
.factor-picos-informe{
    font-weight: bolder;
}
.factor-picosresaltar-informe{
    color: rgb(225,5,5);
}

/*END KOSTICK*/
